.charactersPage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin: 1.3rem 0;
}

.characterPage {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;

  height: 78vh;
  margin: 1.3rem 0;
}
