.button {
  cursor: pointer;

  position: relative;
  top: -140px;
  left: -30px;

  overflow: hidden;
  display: block;

  width: 56px;
  height: 56px;
  margin: 0;

  background-color: transparent;
  border: 0;
  outline: none;
}

.button::before,
.button::after {
  content: '';
  position: absolute;
  inset: 7px;
  border-radius: 50%;
}

.button::before {
  border: 2px solid var(--secondary);
  transition:
    opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button::after {
  transform: scale(1.3);
  opacity: 0;
  border: 2px solid #96daf0;
  transition:
    opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover::before,
.button:focus::before {
  transform: scale(0.7);
  opacity: 0;
  transition:
    opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover::after,
.button:focus::after {
  transform: scale(1);
  opacity: 1;
  transition:
    opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.buttonBox {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.buttonElem {
  transform: rotate(180deg);

  display: block;

  width: 20px;
  height: 20px;
  margin: 17px 18px 0;

  fill: var(--secondary);
}

.button:hover .buttonBox,
.button:focus .buttonBox {
  transform: translateX(-56px);
  transition: 0.4s;
}
